body{
  padding-top: 70px;
  background-color:#161212;
}

img.i {
  display: block;
  margin: 10px auto;
}

img.img-zoom{
  cursor: pointer;
}

div.service-alert{
  margin-top: 10px;
}

img#zoom_image{
  margin-bottom: 15px;
}

.link-domain {
	font-size: 1.4em;	
	color: #1f1f1f;
}
.link-host {
	font-size: 1.1em;
	color: #353333;
}
ul.groupview, ul.groupview ul {
	list-style-type: none;
}
.munin-icon {
   background: url(../img/logo-munin.png) left top; 
   margin-top: -6px;
   width: 35px; 
   height: 35px;
   display: block;
   float: left;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #2f2f2f;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
  color: #ccc;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #efefef;
  cursor: default;
  background-color: #2f2f2f;
  border: 1px solid #D11800;
  border-bottom-color: transparent;
}
.nav-tabs {
  border-bottom: 1px solid #D11800;
}
.well {
  background-color: #2f2f2f;
  border: 1px solid #D11800;
  color: #efefef;
}


